/* Navigation bar */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 0;
  background: linear-gradient(45deg, #d3d3d3, #808080);
  margin: 0; /* Remove default margin */
  margin-top: -1px;
  margin-right: -1px;
  height: 100px;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-link:hover {
  color: #555;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  border: 1px solid rgb(236, 236, 236);
}

.blog-logo {
  margin-left: 100%;
  min-width: 150px;
}

@media screen and (max-width: 768px) {
  .blog-logo {
    margin-left: 30px; /* Reset the margin on smaller screens */
  }
}

/* Posts */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post-card {
  margin: 20px;
  width: 250px;
  word-wrap: break-word;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 15px 15px 15px whitesmoke;
}

.post-card:hover {
  transform: scale(1.03);
  transition: 0.7s;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Login form  */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.login-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.login-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Logut button  */
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  margin-right: 10%;
}

.logout-btn button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn button:hover {
  background-color: #c0392b;
}

/* Create post form  */
.create-form {
  max-width: 500px;
  margin: 0 auto;
}

.create-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.create-input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.createpost-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createpost-btn:hover {
  background-color: #0056b3;
}

.create-link {
  list-style: none;
  font-size: 20px;
}

.create-link a {
  text-decoration: none;
  color: white;
  background-color: lightslategray;
  padding: 5px;
  border-radius: 5px;
}

.create-link a:hover {
  background-color: darkslategray;
  padding: 10px;
  border-radius: 20px;
}
